body
    {
        background: darkgrey;
        margin: 0px;
    }
h2
    {
        margin: 0;
        position: relative;
        top: 0px;
        right: 0px;
        margin: 0px;
        text-align: center;
    }
nav
    {
        display: flex;
        justify-content: space-between;
        background: lightslategray;
        padding: 5px;
        height: 60px;
    }
nav>ul 
    {
        display: flex; 
        list-style: none;
        padding-left: 0px;
        gap: 1rem;
        height: 25px;
        margin: 0;
        position: relative;
        top: 15px;
        right: 130px;
        padding-top: 7.5px;
    }
a
    {
        text-decoration: none;
        color: black;
    }
a>li:hover
    {
        color: dimgrey;
    }
input
{
    height: 10px;
    width: 150px;
    position: relative;
    left: 25px;
    transform: scale(1.5);
    transform-origin: left;
}
.image
    {
        height: 10rem;
    }
.image>img
{
    height: 100%;
    width: 100%;
}